<h3 class="pull-right">
  تخصیص دسترسی به نقش
</h3>
<form>
  <div class="form-group row manage-FormGroup">
    <div class="col-md-6 manage-container">
      <kendo-treeview [nodes]="treeData" [children]="children" [hasChildren]="hasChildren" textField="text" kendoTreeViewExpandable
        [kendoTreeViewCheckable]="checkableSettings" [isChecked]="isItemChecked" (checkedChange)="handleChecking($event)" [(checkedKeys)]="checkedKeys">
      </kendo-treeview>
    </div>
    <div class="col-md-6 manage-container">
      <mat-form-field>
        <mat-select placeholder="نقش" [(value)]="selectedRole">
          <mat-option *ngFor="let role of roles" [value]="role.Value" (click)="Click()">
            {{role.Text}}
          </mat-option>
        </mat-select>
        <div *ngIf="selectedRole == undefined" class="alert alert-danger">
          <mat-hint align="end">لطفا نقش مورد نظر را انتخاب کنید</mat-hint>
        </div>
      </mat-form-field>
    </div>
  </div>
</form>