<h3 class="pull-right">
        مدیریت هواپیما
</h3>
<form [formGroup]="form">
        <div class="form-group row manage-FormGroup">
                <div class="col-md-6 manage-container">
                        <mat-form-field>
                                <input type="text" placeholder="ایرلاین" matInput [formControl]="AirlineCaption" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let item of AirlineItems" (onSelectionChange)="autoCompleteOnChange(item.Text)" [value]="item.Text">
                                                {{item.Text}}
                                        </mat-option>
                                </mat-autocomplete>
                                <div *ngIf="AirlineCaption.touched && AirlineCaption.invalid" class="alert alert-danger">
                                        <div *ngIf="AirlineCaption.errors.required">
                                                <mat-hint align="end">لطفا شرکت ایرلاین مورد نظر را وارد کنید</mat-hint>
                                        </div>
                                </div>
                        </mat-form-field>
                        <mat-checkbox color="primary" formControlName="IsDisabled">فعال</mat-checkbox>
                        <mat-checkbox color="primary" formControlName="IsDeleted">حذف شده</mat-checkbox>
                </div>
                <div class="col-md-6 manage-container">
                        <mat-form-field><input matInput placeholder="نام هواپیما" formControlName="Name">
                                <div *ngIf="Name.touched && Name.invalid" class="alert alert-danger">
                                        <div *ngIf="Name.errors.required">
                                                <mat-hint align="end">لطفا نام هواپیما مورد نظر را وارد کنید</mat-hint>
                                        </div>
                                        <div *ngIf="Name.errors.maxlength">
                                                <mat-hint align="end">طول رشته وارد شده بیش از حد مجاز است</mat-hint>
                                        </div>
                                </div>
                        </mat-form-field>
                        <mat-form-field>
                                <textarea matInput placeholder="توضیح" formControlName="Description"></textarea>
                                <div *ngIf="Description.touched && Description.invalid" class="alert alert-danger">
                                        <div *ngIf="Description.errors.required">
                                                <mat-hint align="end">لطفا توضیح مورد نظر را وارد کنید</mat-hint>
                                        </div>
                                        <div *ngIf="Description.errors.maxlength">
                                                <mat-hint align="end">طول رشته وارد شده بیش از حد مجاز است</mat-hint>
                                        </div>
                                </div>
                        </mat-form-field>
                </div>
        </div>
        <div class="box-footer">
                <button mat-raised-button routerLink="/internalFlights/aircraft">بازگشت</button>
                <button mat-flat-button (click)="Create()">ذخیره</button>
        </div>
</form>