<h3 class="pull-right">
  مدیریت فرودگاه
</h3>
<form [formGroup]="form">
  <div class="form-group row manage-FormGroup">
    <div class="col-md-6 manage-container">
      <mat-form-field>
        <mat-select placeholder="نوع" formControlName="DomesticStatusId">
          <mat-option *ngFor="let item of DomesticItems; index as i" [value]="item.Value">
            {{ item.Text}}
          </mat-option>
        </mat-select>
        <div *ngIf="DomesticStatusId.touched && DomesticStatusId.invalid" class="alert alert-danger">
          <div *ngIf="DomesticStatusId.errors.required">
            <mat-hint align="end">لطفا نوع فرودگاه مورد نظر را وارد کنید</mat-hint>
          </div>
        </div>
      </mat-form-field>
      <mat-form-field>
        <input type="text" placeholder="مکان" matInput [formControl]="LocationCaption" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of LocationItems" (onSelectionChange)="autoCompleteOnChange(item.Text)" [value]="item.Text">
            {{item.Text}}
          </mat-option>
        </mat-autocomplete>
        <div *ngIf="LocationCaption.touched && LocationCaption.invalid" class="alert alert-danger">
          <div *ngIf="LocationCaption.errors.required">
            <mat-hint align="end">لطفا مکان مورد نظر را وارد کنید</mat-hint>
          </div>
        </div>
      </mat-form-field>
      <mat-checkbox color="primary" formControlName="IsDisabled">فعال</mat-checkbox>
      <mat-checkbox color="primary" formControlName="IsDeleted">حذف شده</mat-checkbox>
    </div>
    <div class="col-md-6 manage-container">
      <mat-form-field>
        <input matInput placeholder="کد" formControlName="Code">
        <div *ngIf="Code.touched && Code.invalid" class="alert alert-danger">
          <div *ngIf="Code.errors.required">
            <mat-hint align="end">لطفا کد بین المللی مورد نظر را وارد کنید</mat-hint>
          </div>
          <div *ngIf="Code.errors.maxlength">
            <mat-hint align="end">طول رشته وارد شده بیشتر از حد مجاز است</mat-hint>
          </div>
          <div *ngIf="Code.errors.minlength">
            <mat-hint align="end">طول رشته وارد شده کمتر از حد مجاز است</mat-hint>
          </div>
        </div>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="نام" formControlName="Name">
        <div *ngIf="Name.touched && Name.invalid" class="alert alert-danger">
          <div *ngIf="Name.errors.required">
            <mat-hint align="end">لطفا نام مورد نظر را وارد کنید</mat-hint>
          </div>
          <div *ngIf="Name.errors.maxlength">
            <mat-hint align="end">طول رشته وارد شده بیش از حد مجاز است</mat-hint>
          </div>
        </div>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="نام لاتین" formControlName="LatinName">
        <div *ngIf="LatinName.touched && LatinName.invalid" class="alert alert-danger">
          <div *ngIf="LatinName.errors.required">
            <mat-hint align="end">لطفا نام لاتین مورد نظر را وارد کنید</mat-hint>
          </div>
          <div *ngIf="LatinName.errors.maxlength">
            <mat-hint align="end">طول رشته وارد شده بیش از حد مجاز است</mat-hint>
          </div>
        </div>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="توضیح" formControlName="Description"></textarea>
        <div *ngIf="Description.touched && Description.invalid" class="alert alert-danger">
          <div *ngIf="Description.errors.maxlength">
            <mat-hint align="end">طول رشته وارد شده بیش از حد مجاز است</mat-hint>
          </div>
        </div>
      </mat-form-field>

    </div>
  </div>
  <div class="box-footer">
    <button mat-raised-button routerLink="/internalFlights/airport">بازگشت</button>
    <button mat-flat-button (click)="Create()">ذخیره</button>
  </div>
</form>