<h3 class="pull-right">
        مدیریت هلدینگ پروازی
</h3>
<form [formGroup]="form">
        <div class="form-group row manage-FormGroup">
                <div class="col-md-6 manage-container">
                        <mat-checkbox color="primary" formControlName="IsDisabled">فعال</mat-checkbox>
                        <mat-checkbox color="primary" formControlName="IsDeleted">حذف شده</mat-checkbox>
                </div>
                <div class="col-md-6 manage-container">
                        <mat-form-field>
                                <input matInput placeholder="نام" formControlName="Name">
                                <div *ngIf="Name.touched && Name.invalid" class="alert alert-danger">
                                        <div *ngIf="Name.errors.required">
                                                <small id="error" class="form-text text-muted">لطفا نام شرکت مورد نظر را
                                                        وارد کنید</small>
                                        </div>
                                        <div *ngIf="Name.errors.maxlength">
                                                <small id="error" class="form-text text-muted">طول رشته وارد شده بیش از حد
                                                        مجاز است</small>
                                        </div>
                                        <div *ngIf="Name.errors.cannotContainSpace">
                                                <small id="error" class="form-text text-muted">در رشته مورد نظر فاصله وجود
                                                        دارد</small>
                                        </div>
                                </div>
                        </mat-form-field>
                </div>
                <div class="box-footer">
                        <button mat-raised-button routerLink="/internalFlights/airlineholder">بازگشت</button>
                        <button mat-flat-button (click)="Create()">ذخیره</button>
                </div>
        </div>
</form>