<h3 class="pull-right">
        مدیریت ایرلاین
</h3>
<form [formGroup]="form">
        <div class="form-group row manage-FormGroup">
                <div class="col-md-6 manage-container">
                        <mat-form-field>
                                <mat-select placeholder="نوع" formControlName="DomesticStatusId">
                                        <mat-option *ngFor="let item of DomesticItems; index as i" [value]="item.Value">
                                                {{ item.Text}}
                                        </mat-option>
                                </mat-select>
                                <div *ngIf="DomesticStatusId.touched && DomesticStatusId.invalid" class="alert alert-danger">
                                        <div *ngIf="DomesticStatusId.errors.required">
                                                <mat-hint align="end">لطفا نوع شرکت مورد نظر را وارد کنید</mat-hint>
                                        </div>
                                </div>
                        </mat-form-field>
                        <mat-form-field>
                                <input type="text" placeholder="هلدینگ" matInput [formControl]="AirlineHolderCaption" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let item of AirlineHolderItems" (onSelectionChange)="autoCompleteOnChange(item.Text)" [value]="item.Text">
                                                {{item.Text}}
                                        </mat-option>
                                </mat-autocomplete>
                                <div *ngIf="AirlineHolderCaption.touched && AirlineHolderCaption.invalid" class="alert alert-danger">
                                        <div *ngIf="AirlineHolderCaption.errors.required">
                                                <mat-hint align="end">لطفا شرکت هلدینگ مورد نظر را وارد کنید</mat-hint>
                                        </div>
                                </div>
                        </mat-form-field>
                        <mat-checkbox color="primary" formControlName="IsDisabled">فعال</mat-checkbox>
                        <mat-checkbox color="primary" formControlName="IsDeleted">حذف شده</mat-checkbox>
                </div>
                <div class="col-md-6 manage-container">
                        <mat-form-field><input matInput placeholder="نام" formControlName="Name">
                                <div *ngIf="Name.touched && Name.invalid" class="alert alert-danger">
                                        <div *ngIf="Name.errors.required">
                                                <mat-hint align="end">لطفا نام شرکت مورد نظر را وارد کنید</mat-hint>
                                        </div>
                                        <div *ngIf="Name.errors.maxlength">
                                                <mat-hint align="end">طول رشته وارد شده بیش از حد مجاز است</mat-hint>
                                        </div>
                                </div>
                        </mat-form-field>
                        <mat-form-field>
                                <input matInput placeholder="نام لاتین" formControlName="LatinName">
                                <div *ngIf="LatinName.touched && LatinName.invalid" class="alert alert-danger">
                                        <div *ngIf="LatinName.errors.required">
                                                <mat-hint align="end">لطفا نام لاتین شرکت مورد نظر را وارد کنید</mat-hint>
                                        </div>
                                        <div *ngIf="LatinName.errors.maxlength">
                                                <mat-hint align="end">طول رشته وارد شده بیش از حد مجاز است</mat-hint>
                                        </div>
                                </div>
                        </mat-form-field>
                        <mat-form-field>
                                <input matInput placeholder="کد نماد" formControlName="DesignatorCode" pattern="[a-zA-Z ]*">
                                <div *ngIf="DesignatorCode.touched && DesignatorCode.invalid" class="alert alert-danger">
                                        <div *ngIf="DesignatorCode.errors.maxlength">
                                                <mat-hint align="end">طول رشته وارد شده بیش از حد مجاز است</mat-hint>
                                        </div>
                                        <div *ngIf="DesignatorCode.errors.minlength">
                                                <mat-hint align="end">طول رشته وارد شده کمتر از حد مجاز است</mat-hint>
                                        </div>
                                        <div *ngIf="DesignatorCode.errors.cannotContainSpace">
                                                <mat-hint align="end">در رشته مورد نظر فاصله وجود دارد</mat-hint>
                                        </div>
                                </div>
                        </mat-form-field>
                        <mat-form-field>
                                <input matInput placeholder="کد یاتا" formControlName="IataCode" pattern="[a-zA-Z ]*">
                                <div *ngIf="IataCode.touched && IataCode.invalid" class="alert alert-danger">
                                        <div *ngIf="IataCode.errors.required">
                                                <mat-hint align="end">لطفا کد یاتا شرکت مورد نظر را وارد کنید</mat-hint>
                                        </div>
                                        <div *ngIf="IataCode.errors.maxlength">
                                                <mat-hint align="end">طول رشته وارد شده بیش از حد مجاز است</mat-hint>
                                        </div>
                                        <div *ngIf="IataCode.errors.minlength">
                                                <mat-hint align="end">طول رشته وارد شده کمتر از حد مجاز است</mat-hint>
                                        </div>
                                        <div *ngIf="IataCode.errors.cannotContainSpace">
                                                <mat-hint align="end">در رشته مورد نظر فاصله وجود دارد</mat-hint>
                                        </div>
                                </div>
                        </mat-form-field>
                </div>
        </div>
        <div class="box-footer">
                <button mat-raised-button routerLink="/internalFlights/airline">بازگشت</button>
                <button mat-flat-button (click)="Create()">ذخیره</button>
        </div>
</form>